<!DOCTYPE html>
<html>
<head lang="en">
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load staticfiles compress %}

    {% compress js %}
        <script type="text/javascript" src="{% static 'frc_scout/js/jquery-1.11.2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'frc_scout/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'frc_scout/js/jquery.cookie.js' %}"></script>
        <script type="text/javascript" src="{% static 'frc_scout/js/typeahead.bundle.js' %}"></script>
        <script type="text/javascript" src="{% static 'frc_scout/js/bootstrap-switch.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'frc_scout/js/bootstrap-editable.min.js' %}"></script>
    {% endcompress %}

    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static 'frc_scout/css/paper.theme.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'frc_scout/css/twitter-typeahead.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'frc_scout/css/bootstrap-switch.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'frc_scout/css/bootstrap-editable.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'frc_scout/css/style.css' %}">
    {% endcompress %}
</head>
<body>
{% block nav %}{% endblock %}
<div class="container{% if fluid %}-fluid{% endif %}">
    {% if messages %}
        <br>
    {% endif %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
    {% block main_content %}{% endblock %}
    <!-- ¯\_(ツ)_/¯ -->
</div>


{% block footer %}{% endblock %}

</body>
{% block extra_js %}{% endblock %}
</html>
