<!DOCTYPE html>
<html>
<head lang="en">
    {% load staticfiles %}
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="manifest" href="{% static 'frc_scout/js/android-homescreen-manifest.json' %}">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'frc_scout/img/icons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'frc_scout/img/icons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'frc_scout/img/icons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'frc_scout/img/icons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'frc_scout/img/icons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'frc_scout/img/icons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'frc_scout/img/icons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'frc_scout/img/icons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'frc_scout/img/icons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'frc_scout/img/icons/android-icon-192x192.png' %}">

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'frc_scout/img/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'frc_scout/img/icons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'frc_scout/img/icons/favicon-16x16.png' %}">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'frc_scout/img/icons/ms-icon-144x144.png' %}">

    <meta name="theme-color" content="#ffffff">

    {% load staticfiles compress %}

    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static 'frc_scout/css/paper.theme.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'frc_scout/css/style.css' %}">
    {% endcompress %}

    <link href='//fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>

    {% block extra_css %}{% endblock %}
</head>
<body>
{% block nav %}{% endblock %}
<div class="container{% if fluid %}-fluid{% endif %}">
    {% if messages %}
        <br>
    {% endif %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
    {% block main_content %}{% endblock %}
    <!-- ¯\_(ツ)_/¯ -->
</div>


{% block footer %}{% endblock %}
{% compress js %}
    <script type="text/javascript" src="{% static 'frc_scout/js/jquery-1.11.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frc_scout/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frc_scout/js/jquery.cookie.js' %}"></script>
{% endcompress %}
<script>
    // Google Analytics tracking code
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-60158931-1', 'auto');
    ga('send', 'pageview');
</script>
{% block extra_js %}{% endblock %}
</body>
</html>
