<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <hr style="margin-bottom: 2px;">
        </div>
        <div class="row">
            <div class="col-md-12">
                <p style="text-align: center; margin-bottom: -3px; margin-top:3px;">{{ user.first_name }} {{ user.last_name }} &mdash; {{ user.userprofile.team.team_number }} &mdash; {{ location_name }}</p>
            </div>
        </div>
    </div>
</footer>

<style type="text/css">
    /* Sticky footer styles
-------------------------------------------------- */
    html {
        position: relative;
        min-height: 100%;
    }
    body {
        /* Margin bottom by footer height */
        margin-bottom: 60px;
    }
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 60px;
        /*background-color: #f5f5f5;*/
    }
</style>