{% extends 'frc_scout/base.html' %}

{% block title %}FRC Scout - Login{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4" style="text-align: center;">
            <br>
            <img src="http://www.nhpack68.com/resources/ScoutHappy.gif" style="margin-left: auto; margin-right: auto; width: 200px;">
            <h2 style="text-align: center;">FRC Scout: Login</h2>
            <form method="post">
                {% csrf_token %}

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" name="username" required>
                    <input type="password" class="form-control" placeholder="Password" name="password" required>
                    <input type="text" class="typeahead form-control" placeholder="Event Location" name="location" required>
                </div>
                <br>
                <div class="form-group">
                    <button class="btn btn-primary form-control" style="margin-bottom: 10px;">Login</button>
                    <a href="{% url 'frc_scout:create_account' %}" class="btn btn-warning form-control" type="button">Create Account</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
{#        var locations = $.parseJSON('{% url 'frc_scout:get_locations' %}');#}
{#        function searcher(query, cb) {#}
{#            var matches, substrRegex;#}
{#            matches = [];#}
{#            substrRegex = new RegExp(query, 'i');#}
{#            $.each(Object.keys(locations), function(i, str) {#}
{#                if (substrRegex.test(str)) {#}
{#                    matches.push({value: str});#}
{#                }#}
{#            });#}
{#            cb(matches);#}
{#        }#}


        var locations = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('location'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: '{% url 'frc_scout:get_locations' %}'
        });

        locations.initialize();

        $(function() { {% load staticfiles %}
            $('.typeahead').typeahead({
                highlight: true
            }, {
                name: 'events',
                source: locations.ttAdapter()
            });
        });
    </script>
{% endblock %}
