{% extends 'frc_scout/base.html' %}

{% load staticfiles %}

{% block title %}Team {{ team_number }}'s profile{% endblock %}

{% block nav %}{% include 'frc_scout/nav.html' %}{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            {% if request.user.userprofile.team_manager %}
                {% if request.user.userprofile.team.team_number|floatformat == team_number|floatformat %}
                    <div class="alert alert-success alert-dismissable">
                        <p>If you want to update your team profile, you may <a href="{% url 'frc_scout:pit_scouting' %}#{{ team_number }}">pit scout yourself</a> &mdash; your data will take precedence.</p>
                    </div>
                {% endif %}
            {% endif %}

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        {% if  aggregate_data.team_name %}
                            <h3>{{ aggregate_data.team_name }}'s Profile</h3>
                        {% else %}
                            <h3>Team {{ team_number }}'s Profile</h3>
                        {% endif %}
                    </h1>
                </div>
                <div class="panel-body">
                    {% if aggregate_data.team_website %}
                        Website: <strong><a target="_blank" href="{{ aggregate_data.team_website }}">{{ aggregate_data.team_website }}</a></strong>
                        <br>
                    {% endif %}
                    {% if aggregate_data.driver_1 %}
                        Driver 1: <strong>{{ aggregate_data.driver_1 }}</strong>
                        <br>
                    {% endif %}
                    {% if aggregate_data.driver_2 %}
                        Driver 2: <strong>{{ aggregate_data.driver_2 }}</strong>
                        <br>
                    {% endif %}
                    {% if aggregate_data.coach %}
                        Coach: <strong>{{ aggregate_data.coach }}</strong>
                        <br>
                    {% endif %}
                    {% if aggregate_data.robot_height %}
                        Robot Height: <strong>{{ aggregate_data.robot_height }} in.</strong>
                        <br>
                    {% endif %}
                    {% if aggregate_data.robot_weight %}
                        Robot Weight: <strong>{{ aggregate_data.robot_weight }} lbs.</strong>
                        <br>
                    {% endif %}
                    {% if aggregate_data.robot_speed %}
                        Robot Speed: <strong>{{ aggregate_data.robot_speed }} ft/s.</strong>
                        <br>
                    {% endif %}
                    {% if aggregate_data.tote_stack_capacity %}
                        Tote Stack Capacity: <strong>{{ aggregate_data.tote_stack_capacity }} totes</strong>
                        <br>
                    {% endif %}
                </div>
            </div>

            <div class="section-header-container">
                <span class="section-header-text">Match averages</span>
            </div>
            {% for section in sections %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ section.name }}</h3>
                    </div>
                    <div class="panel-body">
                        {% for data in section.data %}
                            {{ data.name }}: <strong>{{ data.value }}</strong><br />
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <a href="{% url "frc_scout:view_team_matches" team_number %}">View all matches for this team</a>
            <div class="section-header-container">
                <span class="section-header-text">Public comments</span>
            </div>
            {% for match in matches %}
                {% if match.tele_public_comments or match.foul_context %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ match.location }}: Match {{ match.match_number }}</h3>
                        </div>
                        <div class="panel-body">
                            {% if match.tele_public_comments %}
                                <strong>Public Comments:</strong> {{ match.tele_public_comments }}
                            {% endif %}
                            <br>
                            {% if match.tele_foul_context %}
                                <strong>Foul Comments:</strong> {{ match.tele_foul_context }}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="section-header-container">
                <span class="section-header-text">Private comments</span>
            </div>
            {% for match in matches %}
                {% if match.matchprivatecomments.comments and match.scout.userprofile.team.team_number == request.user.userprofile.team.team_number %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ match.location }}: Match {{ match.match_number }}</h3>
                        </div>
                        <div class="panel-body">
                            {{ match.matchprivatecomments.comments }}
                            <br>
                            <small><strong>{{ match.scout.first_name }}</strong></small>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block footer %}{% include 'frc_scout/footer.html' %}{% endblock %}
