{% extends 'frc_scout/base.html' %}

{% load staticfiles %}

{% block title %}Scouting{% endblock %}

{% block main_content %}

    <!-- ERRORS -->

    <div class="container-fluid">
        <div class="alert alert-warning collapse alert-dismissible" role="alert" id="alert" style="margin-top: 10px;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p><strong>Please correct the following errors:</strong></p>
            <span id="alert-text"></span>
        </div>
    </div>

    <!-- PREMATCH -->
    <div class="container-fluid" style="display: block;" id="prematch">
        <div class="row">
            <div class="col-md-12">
                <h2>Pre-Match</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input id="team_number" class="form-control input-x-lg" placeholder="Team Number">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input id="match_number" class="form-control input-x-lg" placeholder="Match Number">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 style="color: #666666;">Location: {{ request.session.location }}</h3>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-extra-high btn-primary btn-lg max-width" onclick="saveAndContinue('prematch', 'autonomous');">autonomous &nbsp;<span class="glyphicon glyphicon-arrow-right"></span></button>
            </div>
        </div>
    </div>

    <!-- AUTONOMOUS -->
    <div class="container-fluid" style="display: none;" id="autonomous">
        <div class="row">
            <div class="col-md-12">
                <h2>Autonomous</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h3>Totes</h3>
                <div class="row">
                    <div class="col-xs-8">
                        <button class="btn btn-extra-high btn-lg btn-lg-text btn-success max-width">Stacked Yellow</button>
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-extra-high btn-lg btn-lg-text btn-warning">&mdash;</button>
                    </div>
                    <div class="col-xs-2 text-center">
                        <h4 class="button-state-text">0</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-8">
                        <button class="btn btn-extra-high btn-lg btn-lg-text btn-success max-width">Moved Yellow</button>
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-extra-high btn-lg btn-lg-text btn-warning">&mdash;</button>
                    </div>
                    <div class="col-xs-2 text-center">
                        <h4 class="button-state-text">0</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-8">
                        <button class="btn btn-extra-high btn-lg btn-lg-text btn-success max-width">Acquired Grey</button>
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-extra-high btn-lg btn-lg-text btn-warning">&mdash;</button>
                    </div>
                    <div class="col-xs-2 text-center">
                        <h4 class="button-state-text">0</h4>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <h3>Bins</h3>
                <div class="row">
                    <div class="col-xs-8">
                        <button class="btn btn-extra-high btn-lg btn-lg-text btn-success max-width">Acquired Step</button>
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-extra-high btn-lg btn-lg-text btn-warning">&mdash;</button>
                    </div>
                    <div class="col-xs-2 text-center">
                        <h4 class="button-state-text">0</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-8">
                        <button class="btn btn-extra-high btn-lg btn-lg-text btn-success max-width">Acquired Ground</button>
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-extra-high btn-lg btn-lg-text btn-warning">&mdash;</button>
                    </div>
                    <div class="col-xs-2 text-center">
                        <h4 class="button-state-text">0</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-8">
                        <button class="btn btn-extra-high btn-lg btn-lg-text btn-success max-width">Moved</button>
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-extra-high btn-lg btn-lg-text btn-warning">&mdash;</button>
                    </div>
                    <div class="col-xs-2 text-center">
                        <h4 class="button-state-text">0</h4>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <button style="margin-top: 5px; margin-bottom: 5px;" class="btn btn-extra-high btn-info btn-lg max-width">Fouls & Other</button>
            </div>
            <div class="col-sm-6">
                <button style="margin-top: 5px; margin-bottom: 5px;" class="btn btn-extra-high btn-success btn-lg max-width">teleoperated  &nbsp;<span class="glyphicon glyphicon-arrow-right"></span></button>
            </div>
        </div>
    </div>

{% endblock %}


{% block extra_js %}
    <script type="text/javascript">

        var stages = [
            'prematch',
            'autonomous',
            'teleoperated',
            'end'
        ];

        var pageMatchNumber;

        function setupNewMatch() {
            for(var i = 0;; i++) {
                if (localStorage["match" + i.toString()] === undefined) {
                    pageMatchNumber = i;
                    localStorage["match" + pageMatchNumber.toString()] = JSON.stringify({});
                    break;
                }
            }
        }

        $(function() {
            setupNewMatch();
            console.log("new match: " + pageMatchNumber)
            $("#alert").alert('close');
        });

        function saveAndContinue(fromStage, toStage) {

            var errorMessage = [];
            var stageVariables = null;

            if(fromStage == "prematch") {
                var teamNumber = parseInt($("#team_number").val());
                var matchNumber = parseInt($("#match_number").val());


                if(isNaN(teamNumber)) {
                    errorMessage.push("Team number is required and must be a number.");
                }

                if(isNaN(matchNumber)) {
                    errorMessage.push("Match number is required and must be a number.");
                }

                stageVariables = {
                    teamNumber: teamNumber,
                    matchNumber: matchNumber
                }
            }

            if(errorMessage.length !== 0) {
                $("#alert-text").html(errorMessage.join('<br>'));
                $("#alert").show();
                return;
            }

            $("#alert").alert('close');

            var localStorageVariables = $.parseJSON(localStorage["match" + pageMatchNumber]);

            localStorageVariables[fromStage] = stageVariables;

            localStorage['match' + pageMatchNumber] = JSON.stringify(localStorageVariables);

            $("#" + fromStage).hide();
            $("#" + toStage).show();
        }

    </script>
{% endblock %}