{% extends 'frc_scout/base.html' %}

{% load staticfiles %}

{% block title %}Scouting{% endblock %}
{% load compress %}

{% block extra_css %}
    {% compress css inline %}
        <style type="text/css">

            #teleoperated {
                background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 50%);
                padding-bottom: 10px;
            }
            #displayDot{
                height:10px;
                width:10px;
                background-color:lime;
                position:relative;
                display:none;
            }
        </style>
    {% endcompress %}
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static "frc_scout/css/bootstrap-switch.min.css" %}">
    {% endcompress %}
{% endblock %}

{% block main_content %}

    <!-- ERRORS -->
    <div class="container-fluid">
        <div class="alert alert-danger alert-dismissible" role="alert" id="alert" style="margin-top: 10px; display: none;">
            <button type="button" class="close" onclick="$('#alert').hide();" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p id="correct_errors"><strong>Please correct the following errors:</strong></p>
            <span id="alert-text"></span>
        </div>
    </div>

    <!-- LOADING SCREEN -->
    <div class="container" id="loading">
        <h1>
            Loading...
        </h1>
    </div>

    <!-- PREMATCH -->
    <div class="container-fluid stage" style="display: none;" id="prematch">
        <div class="row">
            <div class="col-md-12">
                <h2>Pre-Match<span class="team-number"></span></h2>
            </div>
        </div>
        <div class="row">
            <label for="match_number" style="padding-top:10px; font-weight: bold;" class="col-sm-4 control-label input-x-lg">Match Number:</label>
            <div class="col-sm-8">
                <input id="match_number" class="form-control input-x-lg background-white" placeholder="Match" type='number'>
            </div>
        </div>
        <br>
        <div class="row">
            <label for="team_number" style="padding-top: 10px; font-weight: bold;" class="col-sm-4 control-label input-x-lg">Team Number:</label>
            <div class="col-sm-8">
                <div id="type_team_number">
                    <input id="team_number" class="form-control input-x-lg background-white" placeholder="Team" type="number">
                </div>

                <div id="select_team_number">
                    <select id="select_team_number_select" style="padding-top: 10px;" class="form-control input-x-lg alliance-toggle background-white">
                        <option value="">Select a team</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" id="select_alliance_color">
            <br>
            <div class="col-md-12">
                <div class="btn-group max-width" data-toggle="buttons">
                    <label class="btn btn-lg btn-danger alliance-toggle" style="width: 50%;" id="red_alliance">
                        <input type="radio">
                        Red
                    </label>
                    <label class="btn btn-lg btn-primary alliance-toggle" style="width: 50%;" id="blue_alliance">
                        <input type="radio">
                        Blue
                    </label>
                </div>
            </div>
        </div>
        </br>
        <div class="row" id="defenses_1">
            <label for="select_team_defenses_1" style="padding-top: 10px; font-weight: bold;" class="col-sm-4 control-label input-x-lg">Enemy Defense 1:</label>
            <div class="col-sm-8">
                <div id="select_team_defenses">
                    <select id="select_team_defenses_1" style="padding-top: 10px;" class="form-control input-x-lg background-white select-defense">
                        <option value="">Select a Defense</option>
                        <option value="def_port">Portcullis</option>
                        <option value="def_moat">Moat</option>
                        <option value="def_draw">Drawbridge</option>
                        <option value="def_terr">Rough Terrain</option>
                        <option value="def_rock">Rock Wall</option>
                        <option value="def_ramp">Ramparts</option>
                        <option value="def_sp">Sally Port</option>
                        <option value="def_cf">Cheval de Frise</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" id="defenses_2">
            <label for="select_team_defenses_2" style="padding-top: 10px; font-weight: bold;" class="col-sm-4 control-label input-x-lg">Enemy Defense 2:</label>
            <div class="col-sm-8">
                <div id="select_team_defenses">
                    <select id="select_team_defenses_2" style="padding-top: 10px;" class="form-control input-x-lg background-white select-defense">
                        <option value="">Select a Defense</option>
                        <option value="def_port">Portcullis</option>
                        <option value="def_moat">Moat</option>
                        <option value="def_draw">Drawbridge</option>
                        <option value="def_terr">Rough Terrain</option>
                        <option value="def_rock">Rock Wall</option>
                        <option value="def_ramp">Ramparts</option>
                        <option value="def_sp">Sally Port</option>
                        <option value="def_cf">Cheval de Frise</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" id="defenses_3">
            <label for="select_team_defenses_3" style="padding-top: 10px; font-weight: bold;" class="col-sm-4 control-label input-x-lg">Enemy Defense 3:</label>
            <div class="col-sm-8">
                <div id="select_team_defenses">
                    <select id="select_team_defenses_3" style="padding-top: 10px;" class="form-control input-x-lg background-white select-defense">
                        <option value="">Select a Defense</option>
                        <option value="def_port">Portcullis</option>
                        <option value="def_moat">Moat</option>
                        <option value="def_draw">Drawbridge</option>
                        <option value="def_terr">Rough Terrain</option>
                        <option value="def_rock">Rock Wall</option>
                        <option value="def_ramp">Ramparts</option>
                        <option value="def_sp">Sally Port</option>
                        <option value="def_cf">Cheval de Frise</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" id="defenses_4">
            <label for="select_team_defenses_4" style="padding-top: 10px; font-weight: bold;" class="col-sm-4 control-label input-x-lg">Enemy Defense 4:</label>
            <div class="col-sm-8">
                <div id="select_team_defenses">
                    <select id="select_team_defenses_4" style="padding-top: 10px;" class="form-control input-x-lg background-white select-defense">
                        <option value="">Select a Defense</option>
                        <option value="def_port">Portcullis</option>
                        <option value="def_moat">Moat</option>
                        <option value="def_draw">Drawbridge</option>
                        <option value="def_terr">Rough Terrain</option>
                        <option value="def_rock">Rock Wall</option>
                        <option value="def_ramp">Ramparts</option>
                        <option value="def_sp">Sally Port</option>
                        <option value="def_cf">Cheval de Frise</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" id="locationrow">
            <div class="col-md-12" id="locationcol">
                {% if not practice_scouting %}
                    <h3 style="color: #666666;" id="locationheading">Location: <span id='location'>{{ request.session.location_name }}</span></h3>
                {% else %}
                    <h3 style="color:#bd001f; font-weight: bold;" id="locationsubheading">You are scouting a practice match. Your data will be submitted to the TEST location.</h3>
                {% endif %}
            </div>
            <br>
        </div>
        <div class="row" id="buttonsrow">
            <div class="col-sm-4" id="homebuttoncol">
                <button class="btn btn-extra-high btn-info btn-lg max-width" onclick="window.location = '{% url 'frc_scout:index' %}';" id="homebutton"><span class="glyphicon glyphicon-arrow-left"></span> return home</button>
            </div>
            <div class="col-sm-4" id="nowshowcol">
                <button id="no_show" class="btn btn-extra-high btn-warning btn-lg max-width" onclick="changeStage('prematch',finish')">No-show</button>
            </div>
            <div class="col-sm-4" id="autocol">
                <button class="btn btn-extra-high btn-primary btn-lg max-width" onclick="changeStage('prematch','events');" id="autobutton">autonomous &nbsp;<span class="glyphicon glyphicon-arrow-right"></span></button>
            </div>
        </div>
        <Br>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-extra-high btn-warning btn-lg max-width" style="display:none;" id="submit_pending" onclick="submitData();">Attempt to submit pending matches</button>
            </div>
        </div>
    </div>

    <!-- AUTONOMOUS STARTING LOCATION -->
    <div class="container-fluid stage" style="display: none;" id="autonomous_location">
        <div class="row">
            <div class="col-md-12">
                <h2>Autonomous Start<span class="team-number"></span></h2>s
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <img src="{% static "frc_scout/img/start_zone_2016.png" %}" class="auto-location-image" id="auto_start_image">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-lg btn-info max-width" style="margin-top: 2vh; height: 10vh;" onclick="discardAndChangeStage('autonomous_starting_location', 'prematch');"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp; prematch</button>
            </div>
        </div>
    </div>

    <!-- AUTONOMOUS EVENT SELECT -->
    <div class="container-fluid stage" style="display: none;" id="events">
        <div class="row">
            <div class="col-md-6">
                <h2> <span id = "scoutMode">Autonomous</span><span class="team-number"></span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h3>Enemy Side</h3>
                <div class="row">
                    <div class="col-xs-8">
                        <button class="btn btn-extra-high btn-lg btn-lg-text btn-success max-width btn-add-subtract" data-name="LowGoal" selector="location_select">Made Low Goal</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-8">
                        <button class="btn btn-extra-high btn-lg btn-lg-text btn-success max-width btn-add-subtract" data-name="HighGoal" selector="location_select">Made High Goal</button>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6">
                <h3>Inbetween</h3>
                <div class="row">
                    <div class="col-xs-8">
                        <button class="btn btn-extra-high btn-lg btn-lg-text btn-success max-width btn-add-subtract" data-name="Crossing" selector="defense_select">Crossed</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-8">
                        <button class="btn btn-extra-high btn-lg btn-lg-text btn-success max-width btn-add-subtract" data-name="PickupBall" selector="location_select">Picked up Ball</button>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6">
                <h3>Your Side</h3>
                <div class="row">
                    <div class="col-xs-8">
                        <button class="btn btn-extra-high btn-lg btn-lg-text btn-success max-width btn-add-subtract" data-name="BlockedShot" selector="location_select">Blocked a Shot</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-8">
                        <button class="btn btn-extra-high btn-lg btn-lg-text btn-success max-width btn-add-subtract" data-name="BlockedCrossing" selector="defense_select">Blocked a crossing</button>
                    </div>
                </div>
            </div>
        </div>
        
            <div class="row">
                <div class="col-sm-4 col-sm-push-4">
                    <button id = "undo" class="btn btn-extra-high btn-danger btn-lg max-width" >mess ups</button>
                </div>
                <div class="col-sm-4 col-sm-push-4">
                    <button class="btn btn-extra-high btn-primary btn-lg max-width" onclick="forwards();"><span id="forwards">teleoperated</span>  &nbsp;<span class="glyphicon glyphicon-arrow-right"></span></button>
                </div>
                <div class="col-sm-4 col-sm-pull-8">
                    <button class="btn btn-extra-high btn-info btn-lg max-width" onclick="backwards();"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp; <span id = "back">Prematch</span></button>
                </div>
            </div>
        </div>
        <br>
   
    
    <!-- LOCATION SELECT -->
    <div class="container-fluid stage location-select" style="display: none;" id="location_select">
        <div class="row">
            <div class="col-md-6">
                <h2>Teleoperated Event Location<span class="team-number"></span></h2>
            </div>
        </div>
        <div class="row">
            <div>
                <div id = "displayDot" style="height:10px;
                width:10px;
                background-color:lime;
                position:absolute;"></div>
                <img src="{% static "frc_scout/img/input_map_2016.png" %}" class="input-location-image" id="input_location_image">
                <button class="btn btn-extra-high btn-lg btn-lg-text btn-success max-width btn-add-subtract" onclick="cancelImage()"> Cancel </button>
            </div>
        </div>
        <br>
    </div>

    <!-- DEFENSE SELECT -->
    <div class="container-fluid stage" id="defense_select" style="display:none;">
        <div class="row">
            <div class="col-sm-8">
                <button id="defense_select_1" class="btn btn-extra-high btn-lg btn-lg-text btn-success max-width btn-defense">Defense (1)</button>
                <button id="defense_select_2" class="btn btn-extra-high btn-lg btn-lg-text btn-success max-width btn-defense">Defense (2)</button>
            </div>
            <div class="col-sm-8">
                <button id="defense_select_3" class="btn btn-extra-high btn-lg btn-lg-text btn-success max-width btn-defense">Defense (3)</button>
                <button id="defense_select_4" class="btn btn-extra-high btn-lg btn-lg-text btn-success max-width btn-defense">Defense (4)</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button id="defense_lowBar_0" class="btn btn-extra-high btn-lg btn-lg-text btn-success max-width btn-defense">Low Bar</button>
            </div>
        </div>
    </div>

    
    <!-- END GAME -->
    <div class="container-fluid stage" style="display: none;" id="postmatch">
        <div class="row">
            <div class="col-md-12">
                <h2>Post-Match<span class="team-number"></span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn-extra-high btn-lg btn-lg-text btn-success max-width" id="submit" onclick="attemptMatchSubmission()">Submit</button>
            </div>
        </div>
        
    </div>

    <div class="container-fluid stage" id="finish" style="display: none;">
        <div class="row">
            <div class="col-md-12">
                <h2 style="margin-bottom: 15px;">Finish Scouting<span class="team-number"></span></h2>
            </div>
            <div class="row">
                <div class='col-md-12'>
                    <div class="well">
                        <div id="offline_message" style="display: none;">
                            <h4><span class="glyphicon glyphicon-exclamation-sign"></span> You are offline.</h4>
                            <h6>You may save your scouting data locally and submit it at a later time.</h6>
                            <h6>You will be redirected to restart scouting so the page will remain loaded.</h6>
                            <br>
                            <div class="row">
                                <div class="col-sm-3">
                                    <button class="btn btn-danger max-width btn-lg btn-extra-high" onclick="discardData();"><span class="glyphicon glyphicon-exclamation-sign"></span> discard data</button>
                                </div>
                                <div class="col-sm-9">
                                    <button class="btn btn-primary max-width btn-lg btn-extra-high" onclick="saveDataOffline();" id="save_data"><span class="glyphicon glyphicon-floppy-disk"></span> save offline</button>
                                </div>
                            </div>
                        </div>

                        <div id="online_message" style="display: none;">
                            <h4><span class="glyphicon glyphicon-check"></span> Ready to submit data.</h4>
                            <h6>If you have pending matches stored locally, they will also be submitted at this time.</h6>
                            <br>
                            <div class="row">
                                <div class="col-sm-3">
                                    <button class="btn btn-danger max-width btn-lg btn-extra-high" onclick="discardData();"><span class="glyphicon glyphicon-exclamation-sign"></span> discard data</button>
                                </div>
                                <div class="col-sm-9">
                                    <button class="btn btn-success max-width btn-lg btn-extra-high" onclick="attemptMatchSubmission();" id="upload_data"><span class="glyphicon glyphicon-upload"></span> submit to database</button>
                                </div>
                            </div>
                        </div>

                        <div id="in_progress_message" style="display: none;">
                            <h4>Submitting data... <span id="in_progress_loading" style="display: none;">done.</span></h4>
                        </div>

                        <div id="finished_message" style="display: none;">
                            <h4><span class="glyphicon glyphicon-saved"></span> Your data has been <span id="submitted">submitted</span><span id="saved">saved</span><span id="deleted">deleted</span> successfully.</h4>
                            <div id="submit_errors">
                                <h6>However, the following matches were unable to be saved due to incomplete data collection:</h6>
                                <ul id="submit_errors_list">
                                </ul>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-6">
                                    <button onclick="saveAndContinue('finish', 'prematch');" class="btn btn-primary max-width btn-lg btn-extra-high"><span class="glyphicon glyphicon-share-alt"></span> Scout another match</button>
                                </div>
                                <div class="col-sm-6">
                                    <button onclick="window.location = '{% url 'frc_scout:index' %}';" class="btn btn-info max-width btn-lg btn-extra-high"><span class="glyphicon glyphicon-arrow-up"></span> Return home</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
    <input type="hidden" id="practice_scouting" name="practice_scouting" value="{% if practice_scouting %}true{% else %}false{% endif %}">

{% endblock %}


{% block extra_js %}
        <script type="text/javascript" src="{% static 'frc_scout/js/bootstrap-switch.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'frc_scout/js/match-scouting.js' %}"></script>

        <script type="text/javascript">
            if($("#practice_scouting").val() === "true") {
                $("body").css({
                    "border": "10px dashed rgb(255, 52, 52)"
                });
            }
        </script>
{% endblock %}