{% extends 'frc_scout/base.html' %}

{% block title %}Teams Here{% endblock %}

{% block nav %}{% include 'frc_scout/nav.html' %}{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Teams at {{ request.session.location_name }}</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-responsive">
                        <thead>
                        <tr>
                            <th class="col-md-4">Team Name</th>
                            <th class="col-md-1">Number</th>
                            <th class="col-md-1">Pit Info</th>
                            <th class="col-md-1">Photo</th>
                            <th class="col-md-3">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for team in teams %}
                            <tr>
                                <td>{{ team.team_name }}</td>
                                <td>{{ team.team_number }}</td>
                                <td>{% if team.scouted_here %}<span style="color: darkgreen;" class="glyphicon glyphicon-ok"></span>{% else %}<span style="color:firebrick;" class="glyphicon glyphicon-remove"></span>{% endif %} {{ data }}</td>
                                <td>{% if team.image_here %}<span style="color: darkgreen;" class="glyphicon glyphicon-ok"></span>{% else %}<span style="color:firebrick;" class="glyphicon glyphicon-remove"></span>{% endif %} {{ data }}</td>
                                <td><a href="{% url 'frc_scout:view_team_profile' team_number=team.team_number %}">View Profile</a> | <a href="{% url 'frc_scout:pit_scouting' %}#{{ team.team_number }}"><span{% if not team.scouted_here %} style="font-weight: bold;"{% endif %}>Pit Scout</span></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% include 'frc_scout/footer.html' %}{% endblock %}
