{% extends 'frc_scout/base.html' %}

{% load staticfiles %}

{% block title %}Pit Scouting{% endblock %}

{% load compress %}

{% block extra_css %}
    {% compress css inline %}
        <style type="text/css">
            ::-webkit-input-placeholder { /* WebKit browsers */
                color:    #666666 !important;
            }
            :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                color:    #666666 !important;
                opacity:  1;
            }
            ::-moz-placeholder { /* Mozilla Firefox 19+ */
                color:    #666666 !important;
                opacity:  1;
            }
            :-ms-input-placeholder { /* Internet Explorer 10+ */
                color:    #666666 !important;
            }

            h2 {
                margin-bottom: -2px;
            }

            .set-indeterminate {
                margin-left: 10px;
                height: 36px;
            }
        </style>
    {% endcompress %}
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static 'frc_scout/css/bootstrap-switch.min.css' %}">
    {% endcompress %}
{% endblock %}

{% block nav %}{% include 'frc_scout/nav.html' %}{% endblock %}

{% block main_content %}
    <h6>The team number, and any other attribute, are the only required fields here &mdash; fill out what you know.</h6>
    <div class="alert alert-success" style="display: none;" id="success_message">
        <p><span class="glyphicon glyphicon-check"></span>&nbsp; Data submitted successfully, you may now enter more.</p>
    </div>
    <div class="alert alert-warning" style="display: none;" id="insufficient_message">
        <p><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp; You must enter some attribute <strong>other than team number</strong> &mdash; otherwise your data is useless!</p>
    </div>
    <div class="alert alert-warning" style="display: none;" id="required_message">
        <p><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp; <strong>Team number is required.</strong></p>
    </div>
    <form onclick="$('#success_message, #insufficient_message, #required_message').slideUp(200);" class="form-horizontal" id="pit_scout_form" onsubmit="submitForm(); return false;">
        <fieldset>
            <legend>Basic Information</legend>

            <div class="form-group">
                <label for="team_number" class="col-lg-2 control-label"><span style="color:firebrick">*</span> Team Number</label>
                <div class="col-lg-10">
                    <input type="number" class="form-control" id="team_number" placeholder="Team Number" required>
                </div>
            </div>
            <div class="form-group">
                <label for="team_number" class="col-lg-2 control-label">Robot Picture</label>
                <div class="col-lg-10">
                    <input type="file" accept="image/*" id="robot_image" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="team_name" class="col-lg-2 control-label">Team Name</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="team_name" placeholder="Team Name">
                </div>
            </div>
            <div class="form-group">
                <label for="team_name" class="col-lg-2 control-label">Team Website</label>
                <div class="col-lg-10">
                    <input type="url" class="form-control" id="team_website" placeholder="Team Website">
                </div>
            </div>
            <div class="form-group">
                <label for="driver_1" class="col-lg-2 control-label">Driver 1</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="driver_1" placeholder="Driver 1">
                </div>
            </div>
            <div class="form-group">
                <label for="driver_2" class="col-lg-2 control-label">Drive 2</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="driver_2" placeholder="Driver 2">
                </div>
            </div>

            <div class="form-group">
                <label for="coach" class="col-lg-2 control-label">Coach</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="coach" placeholder="Coach">
                </div>
            </div>

            <div class="form-group">
                <label for="drive_coach_is_mentor" class="col-lg-2 control-label">Drive Coach is Mentor</label>
                <div class="col-lg-10">
                    <input type="checkbox" class="form-control" id="drive_coach_is_mentor">
                    <button type="button" class="btn btn-info set-indeterminate">Unknown</button>
                </div>
            </div>

            <legend>Robot Specifications</legend>
            <div class="form-group">
                <label for="robot_height" class="col-lg-2 control-label">Height (inches)</label>
                <div class="col-lg-10">
                    <input type="number" class="form-control" id="robot_height" placeholder="Height">
                </div>
            </div>
            <div class="form-group">
                <label for="robot_weight" class="col-lg-2 control-label">Weight (lbs)</label>
                <div class="col-lg-10">
                    <input type="number" class="form-control" id="robot_weight" placeholder="Weight">
                </div>
            </div>
            <div class="form-group">
                <label for="robot_wheel_count" class="col-lg-2 control-label">Wheel Count</label>
                <div class="col-lg-10">
                    <input type="number" class="form-control" id="robot_wheel_count" placeholder="Wheel Count">
                </div>
            </div>

            <legend>Autonomous</legend>
            <div class="form-group">
                <label for="can_reach_works" class="col-lg-2 control-label">Can Reach Works</label>
                <div class="col-lg-10">
                    <input type="checkbox" class="form-control" id="can_reach_works">
                    <button type="button" class="btn btn-info set-indeterminate">Unknown</button>
                </div>
            </div>
            <div class="form-group">
                <label for="can_cross_works" class="col-lg-2 control-label">Can Cross Works</label>
                <div class="col-lg-10">
                    <input type="checkbox" class="form-control" id="can_cross_works">
                    <button type="button" class="btn btn-info set-indeterminate">Unknown</button>
                </div>
            </div>
            <div class="form-group">
                <label for="can_score_boulders" class="col-lg-2 control-label">Can Score Boulders</label>
                <div class="col-lg-10">
                    <input type="checkbox" class="form-control" id="can_score_boulders">
                    <button type="button" class="btn btn-info set-indeterminate">Unknown</button>
                </div>
            </div>
            <div class="form-group">
                <label for="preferred_auto_start" class="col-lg-2 control-label">Preferred Starting Location</label>
                <div class="col-lg-10">
                    <button type="button" class="btn btn-primary" id="toggle_modal" data-toggle="modal" data-target="#autoStartModal">Select</button>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="autoStartModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Click Preferred Start Location</h4>
                        </div>
                        <div class="modal-body">
                            <img id="auto_start_image" src="{% static 'frc_scout/img/start_zone_2016.png' %}" style="background-color: cyan; width: 100%;">
                        </div>
                    </div>
                </div>
            </div>

            <legend>Teleoperated</legend>
            <div class="form-group">
                <label for="can_score_high" class="col-lg-2 control-label">Can Score High</label>
                <div class="col-lg-10">
                    <input type="checkbox" class="form-control" id="can_score_high">
                    <button type="button" class="btn btn-info set-indeterminate">Unknown</button>
                </div>
            </div>
            <div class="form-group">
                <label for="can_score_low" class="col-lg-2 control-label">Can Score Low</label>
                <div class="col-lg-10">
                    <input type="checkbox" class="form-control" id="can_score_low">
                    <button type="button" class="btn btn-info set-indeterminate">Unknown</button>
                </div>
            </div>
            <div class="form-group">
                <label for="can_cross_portcullis" class="col-lg-2 control-label">Can Cross Portcullis</label>
                <div class="col-lg-10">
                    <input type="checkbox" class="form-control" id="can_cross_portcullis">
                    <button type="button" class="btn btn-info set-indeterminate">Unknown</button>
                </div>
            </div>
            <div class="form-group">
                <label for="can_cross_cheval" class="col-lg-2 control-label">Can Cross Cheval</label>
                <div class="col-lg-10">
                    <input type="checkbox" class="form-control" id="can_cross_cheval">
                    <button type="button" class="btn btn-info set-indeterminate">Unknown</button>
                </div>
            </div>
            <div class="form-group">
                <label for="can_cross_moat" class="col-lg-2 control-label">Can Cross Moat</label>
                <div class="col-lg-10">
                    <input type="checkbox" class="form-control" id="can_cross_moat">
                    <button type="button" class="btn btn-info set-indeterminate">Unknown</button>
                </div>
            </div>
            <div class="form-group">
                <label for="can_cross_ramparts" class="col-lg-2 control-label">Can Cross Ramparts</label>
                <div class="col-lg-10">
                    <input type="checkbox" class="form-control" id="can_cross_ramparts">
                    <button type="button" class="btn btn-info set-indeterminate">Unknown</button>
                </div>
            </div>
            <div class="form-group">
                <label for="can_cross_drawbridge" class="col-lg-2 control-label">Can Cross Drawbridge</label>
                <div class="col-lg-10">
                    <input type="checkbox" class="form-control" id="can_cross_drawbridge">
                    <button type="button" class="btn btn-info set-indeterminate">Unknown</button>
                </div>
            </div>
            <div class="form-group">
                <label for="can_cross_sally_port" class="col-lg-2 control-label">Can Cross Sally Port</label>
                <div class="col-lg-10">
                    <input type="checkbox" class="form-control" id="can_cross_sally_port">
                    <button type="button" class="btn btn-info set-indeterminate">Unknown</button>
                </div>
            </div>
            <div class="form-group">
                <label for="can_cross_rock_wall" class="col-lg-2 control-label">Can Cross Rock Wall</label>
                <div class="col-lg-10">
                    <input type="checkbox" class="form-control" id="can_cross_rock_wall">
                    <button type="button" class="btn btn-info set-indeterminate">Unknown</button>
                </div>
            </div>
            <div class="form-group">
                <label for="can_cross_rough_terrain" class="col-lg-2 control-label">Can Cross Rough Terrain</label>
                <div class="col-lg-10">
                    <input type="checkbox" class="form-control" id="can_cross_rough_terrain">
                    <button type="button" class="btn btn-info set-indeterminate">Unknown</button>
                </div>
            </div>
            <div class="form-group">
                <label for="can_cross_low_bar" class="col-lg-2 control-label">Can Cross Low Bar</label>
                <div class="col-lg-10">
                    <input type="checkbox" class="form-control" id="can_cross_low_bar">
                    <button type="button" class="btn btn-info set-indeterminate">Unknown</button>
                </div>
            </div>

            <legend>Maneuvering</legend>
            <div class="form-group">
                <label for="can_strafe" class="col-lg-2 control-label">Can Strafe</label>
                <div class="col-lg-10">
                    <input type="checkbox" class="form-control" id="can_strafe">
                    <button type="button" class="btn btn-info set-indeterminate">Unknown</button>
                </div>
            </div>
            <div class="form-group">
                <label for="robot_speed" class="col-lg-2 control-label">Speed (ft/sec)</label>
                <div class="col-lg-10">
                    <input type="number" class="form-control" id="robot_speed" placeholder="Speed">
                </div>
            </div>


            <legend>Comments</legend>
            <div class="form-group">
                <label for="known_strengths" class="col-lg-2 control-label">Known Strengths</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="known_strengths" placeholder="Strengths">
                </div>
            </div>
            <div class="form-group">
                <label for="known_weaknesses" class="col-lg-2 control-label">Known Weaknesses</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="known_weaknesses" placeholder="Weaknesses">
                </div>
            </div>

            <br>
            <div class="form-group">
                <div class="col-sm-2 col-sm-offset-2">
                    <button id="submit_button" type="submit" class="btn btn-lg btn-primary">Submit</button>
                </div>
                <div class="col-sm-8">
                    <div class="progress" id="submit_progress" style="display: none; margin-top: 10px;">
                        <div class="progress-bar progress-bar-info" id="submit_progress_bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            <span class="sr-only">60% Complete</span>
                        </div>
                    </div>
                    <p style="display: none;" id="failure">Image upload failed.</p>
                </div>
            </div>

            <input type="hidden" id="auto_start_x">
            <input type="hidden" id="auto_start_y">
        </fieldset>
    </form>
{% endblock %}

{% block extra_js %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'frc_scout/js/bootstrap-switch.min.js' %}"></script>
    {% endcompress %}
    {% compress js  %}
        <script type="text/javascript" src="{% static 'frc_scout/js/pit-scouting.js' %}"> </script>
    {% endcompress %}
{% endblock %}

{% block footer %}{% include 'frc_scout/footer.html' %}{% endblock %}
