{% extends 'frc_scout/base.html' %}

{% load staticfiles %}

{% block title %}Team {{ team_number }}'s Heatmap{% endblock %}

{% block nav %}{% include 'frc_scout/nav.html' %}{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div style="width:554px; height:596px; background-image:url({% static 'frc_scout/img/start_zone.png' %}); position:relative; margin:auto;">
                {% for point in points %} {% if point.y %} <span class="glyphicon glyphicon-{{point.glyphicon}}" style="position: absolute; left: {{point.x}}px; top: {{point.y}}px; color: {{ point.color }};" title="Match {{ point.match_number }}"></span>
                {% else %} <!-- There is one with zero. Its color is {{ point.color }}. -->
                {% endif %} {% endfor %}
                <!-- good glyphicons for marking positions:
                    remove (X)
                    chevron-down (down arrow with no stem)
                    menu-down (like chevron-down but thinner)
                    hand-down (pointing hand down)
                    equalizer (for stack)
                    arrow-down
                    asterisk
                    flag
                    pushpin
                    remove-circle (X in a circle)
                    certificate (looks like an explosion)
                -->
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% include 'frc_scout/footer.html' %}{% endblock %}
