{% extends 'frc_scout/base.html' %}

{% load staticfiles %}

{% block title %}Team {{ team_number }}'s Heatmap{% endblock %}

{% block nav %}{% include 'frc_scout/nav.html' %}{% endblock %}

{% block extra_css %}
<style type="text/css">
    .heatmap-box {
        max-width: 554px;
        /*height: 596px;*/
        width: 100%;
        display: inline-block;
        position: relative;
        margin: auto;
        background-image: url({% static 'frc_scout/img/start_zone.png' %});
        background-size: cover;
    }

    .heatmap-box::before {
        margin-top: 105.5812274%;
        display: inline-block;
        content: '';
    }

    .heatmap-content {
        position: absolute;
        top: 0; bottom: 0; right: 0; left: 0;
        margin: auto;
        max-height: 100%;
    }
</style>
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Heatmap</h3>
                </div>
                <div class="panel-body" style="padding: 0">
                    <div style="text-align:center;">
                        <div class="heatmap-box">
                            <div class="heatmap-content">
                                {% for point in points %}{% if point.y %}<span
                                    class="glyphicon glyphicon-{{point.glyphicon}}"
                                    style="position: absolute; left: {{point.x}}%; top: {{point.y}}%; color: {{ point.color }};
                                    {% if point.glyphicon == "asterisk" %}margin-top: -7px; margin-left: -7px;{% else %}margin-top: -13px;{% endif %}"
                                    title={% if point.match_number %}"Match {{ point.match_number }}"
                                    {% elif point.scouted_by %}"Scouted by team {{ point.scouted_by }}"{% endif %}>
                                </span>
                               {% else %}<!--There is one at (0, 0) for some reason.
                                    Its color is {{ point.color }}.
                                    Its symbol is {{ point.glyphicon }}.-->
                               {% endif %} {% endfor %}
                                <!-- good glyphicons for marking positions:
                                    remove (X)
                                    chevron-down (down arrow with no stem)
                                    menu-down (like chevron-down but thinner)
                                    hand-down (pointing hand down)
                                    equalizer (for stack)
                                    arrow-down
                                    asterisk
                                    flag
                                    pushpin
                                    remove-circle (X in a circle)
                                    certificate (looks like an explosion)
                                -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Key</h3>
                </div>
                <div class="panel-body">
                    <span class="glyphicon glyphicon-pushpin" style="color: darkgreen; margin-right: 5px;"></span>Autonomous Start Location<br />
                    <span class="glyphicon glyphicon-flag" style="color: blue; margin-right: 5px;"></span>Pit-scouted Start Location<br />
                    <span class="glyphicon glyphicon-asterisk" style="color: grey; margin-right: 5px;"></span>Tote Stack<br />
                    <span class="glyphicon glyphicon-asterisk" style="color: yellow; margin-right: 5px;"></span>Coopertition Stack<br />
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% include 'frc_scout/footer.html' %}{% endblock %}
