{% extends 'frc_scout/base.html' %}

{% load staticfiles %}

{% block title %}Team {{ team_number }}'s Pit Scouting Data{% endblock %}

{% block nav %}{% include 'frc_scout/nav.html' %}{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>Pit Scouting Data for Team {{ team_number }}</h3>
            {% for data in pit_data %}
            <div class="panel
            {% if data.team_number == data.pitscout_team_number %}
            {# self-scouted #}
            panel-success
            {% elif data.pitscout_team_number == request.user.userprofile.team.team_number %}
            {# scouted by your team #}
            panel-primary
            {% else %}
            {# anything else #}
            panel-default
            {% endif %}
            ">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h3 class="panel-title">
                            <div style="float:right;text-align:right;">
                                {% if data.team_number == data.pitscout_team_number %}
                                    <em>Self-scouted
                                    {% if data.pitscout_team_number == request.user.userprofile.team.team_number %}
                                    by {{ data.scout.first_name }}
                                    {% endif %}
                                    </em>
                                {% else %}
                                    <em>Scouted by
                                    {% if data.pitscout_team_number == request.user.userprofile.team.team_number %}
                                        {{ data.scout.first_name }} on team {{ data.pitscout_team_number }}
                                    {% else %}
                                        team {{ data.pitscout_team_number }}
                                    {% endif %}
                                    </em>
                                {% endif %}
                            </div>
                            <div style="float:left;">
                                <strong>
                                    {{ data.location.name }}
                                </strong>
                            </div>
                            <div style="clear:both;"></div>
                        </h3>
                    </div>
                </div>
                <div class="panel-body">
                    {% if data.image_link %}
                        <div style="text-align: center;">
                            <img src="{{ data.image_link }}" style="max-height: 300px; max-width:100%; border-radius: 5px;">
                        </div>
                        <br>
                    {% endif %}
                    {% if data.team_website %}
                        Website: <strong><a target="_blank" href="{{ data.team_website }}">{{ data.team_website }}</a></strong>
                        <br>
                    {% endif %}
                    {% if data.driver_1 %}
                        Driver 1: <strong>{{ data.driver_1 }}</strong>
                        <br>
                    {% endif %}
                    {% if data.driver_2 %}
                        Driver 2: <strong>{{ data.driver_2 }}</strong>
                        <br>
                    {% endif %}
                    {% if data.coach %}
                        Coach: <strong>{{ data.coach }}</strong>
                        <br>
                    {% endif %}
                    {% if data.robot_height %}
                        Robot Height: <strong>{{ data.robot_height }} in.</strong>
                        <br>
                    {% endif %}
                    {% if data.robot_weight %}
                        Robot Weight: <strong>{{ data.robot_weight }} lbs.</strong>
                        <br>
                    {% endif %}
                    {% if data.robot_speed %}
                        Robot Speed: <strong>{{ data.robot_speed }} ft/s.</strong>
                        <br>
                    {% endif %}
                    {% if data.tote_stack_capacity %}
                        Tote Stack Capacity: <strong>{{ data.tote_stack_capacity }} totes</strong>
                        <br>
                    {% endif %}
                    {% if data.known_strengths %}
                        Known Strengths: <strong>{{ data.known_strengths }}</strong>
                        <br>
                    {% endif %}
                    {% if data.known_weaknesses %}
                        Known Weaknesses: <strong>{{ data.known_weaknesses }}</strong>
                        <br>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block footer %}{% include 'frc_scout/footer.html' %}{% endblock %}
