{% extends 'frc_scout/base.html' %}

{% load staticfiles %}

{% block title %}Search Matches{% endblock %}

{% block nav %}{% include 'frc_scout/nav.html' %}{% endblock %}

{% load compress %}

{% block main_content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Search for match to change</h3>
                </div>
                <div class="panel-body">
                    {% if request.user.is_superuser %}
                        <h5>You are a website manager. You may edit matches <strong>scouted by anyone.</strong></h5>
                    {% elif request.user.userprofile.team_manager %}
                        <h5>You are a team manager. You may edit matches <strong>scouted by anyone on your team.</strong></h5>
                    {% else %}
                        <h5>You may edit matches <strong>that you have scouted yourself.</strong></h5>
                    {% endif %}

                    <p><i>All filters are optional, but recommended.</i></p>
                    <form role="form" method="get">
                        {% if request.user.is_superuser %}
                            <div class="form-group">
                                <label for="scouting_team" class="col-lg-3 control-label">Scouting Team Number</label>
                                <div class="col-lg-9">
                                    <input type="number" placeholder="Scouting Team Number" class="form-control" name="scouting_team" id="scouting_team" value="{{ request.GET.scouting_team }}">
                                </div>
                            </div>
                        {% endif %}

                        <div class="form-group">
                            <label for="team_number" class="col-lg-3 control-label">Scouted Team Number</label>
                            <div class="col-lg-9">
                                <input placeholder="Scouted Team Number" type="number" class="form-control" name="team_number" id="team_number" value="{{ request.GET.team_number }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="match_number" class="col-lg-3 control-label">Match Number</label>
                            <div class="col-lg-9">
                                <input type="number" placeholder="Match Number" class="form-control" name="match_number" id="match_number" value="{{ request.GET.match_number }}">
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="location" class="col-lg-3 control-label">Location</label>
                            <div class="col-lg-9">
                                <select name="location" id="location" class="form-control">
                                    {% for location in locations %}
                                        <option value="{{ location.id }}" {% if request.GET.location|floatformat == location.id|floatformat or request.session.location_id == location.id and not request.GET.location %} selected{% endif %}>{{ location.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <button style="margin-top: 15px;" class="btn btn-info form-control">Submit</button>
                    </form>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Match results</h3>
                </div>
                <div class="panel-body">
                    {% if matches %}
                        {% if truncated %}
                            <h6 style="color: firebrick;">Showing first {{ matches|length }} results. Narrow your criteria to see more.</h6>
                        {% else %}
                            <h6>Showing {{ matches|length }} matches.</h6>
                        {% endif %}

                        <table class="table table-striped table-responsive">
                            <thead>
                            <tr>
                                {% if request.user.is_superuser %}
                                    <th>Scouting Team</th>
                                {% endif %}
                                {% if request.user.userprofile.team_manager %}
                                    <th>Scout Name</th>
                                {% endif %}
                                <th>Team Number</th>
                                <th>Match Number</th>
                                <th>Timestamp</th>
                                <th>Auto Score</th>
                                <th>Tele Score</th>
                                <th>Alliance Score</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for match in matches %}
                                <tr>
                                    {% if request.user.is_superuser %}
                                        <td>{{ match.scout.userprofile.team.team_number }}</td>
                                    {% endif %}
                                    {% if request.user.userprofile.team_manager %}
                                        <td>{{ match.scout.get_full_name }}</td>
                                    {% endif %}
                                    <td>{{ match.team_number }}</td>
                                    <td>{{ match.match_number }}</td>
                                    <td>{{ match.timestamp|date:"N j, P" }}</td>
                                    <td>{{ match.auto_score }}</td>
                                    <td>{{ match.tele_score }}</td>
                                    <td>{{ match.match_final_score }}</td>
                                    <td>
                                        <a href="{% url 'frc_scout:edit_match' match_id=match.id %}">Edit</a> |
                                        <a href="#" class="delete-match" data-id="{{ match.id }}">Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% elif request.GET %}
                        <h6><span class="glyphicon glyphicon-exclamation-sign"></span> No matches found for specified filters. Try something better.</h6>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {% compress js inline %}
        <script type="text/javascript">
            $(".delete-match").click(function() {

                var id = $(this).data('id');

                if(confirm("Are you sure you want to permanently delete this match?")) {
                    $.ajax({
                        url: "{% url 'frc_scout:delete_match' %}",
                        type: "POST",
                        data: {
                            csrfmiddlewaretoken: $.cookie('csrftoken'),
                            match_id: id
                        },
                        success: function(response) {
                            location.reload();
                        }
                    })
                }
            })
        </script>
    {% endcompress %}
{% endblock %}

{% block footer %}{% include 'frc_scout/footer.html' %}{% endblock %}