{% extends 'frc_scout/base.html' %}

{% load staticfiles %}

{% block title %}FRC Scout - Manage Scouts{% endblock %}

{% block nav %}{% include 'frc_scout/nav.html' %}{% endblock %}

{% block main_content %}

    {% if unapproved_scouts %}
        <h5 style="color: firebrick; margin-bottom: 20px;"><span class="glyphicon glyphicon-info-sign" style="vertical-align: text-top;">
    </span> Your team has unapproved scouts.</h5>
    {% endif %}

    <p>New scouts will require the approval of a team manager in order to login and begin scouting.</p>
    <table class="table table-bordered table-responsive">
        <tr>
            <th>Name</th>
            <th>Message</th>
            <th>Email Address</th>
            <th>Join Date</th>
            <th>Matches Scouted</th>
            <th>Teams Pit Scouted</th>
            <th>Approved</th>
            <th>Team Manager</th>
        </tr>
        {% for scout in scouts %}
            <tr>
                <td>{{ scout.first_name }}  {{ scout.last_name }}</td>
                <td><a class="editable" href="#" data-pk="{{ scout.id }}" data-name="message">{% if scout.userprofile.message %}{{ scout.userprofile.message }}{% endif %}</a></td>
                <td><a href="mailto:{{ scout.email }}">{{ scout.email }}</a></td>
                <td>{{ scout.date_joined|date:"M d, Y" }}</td>
                <td>{{ scout.match_set.all|length }}</td>
                <td>{{ scout.pitscoutdata_set.all|length }}</td>
                <td><input type="checkbox" id="{{ scout.id }}" class="style2" data-update="approved"{% if scout.userprofile.approved %} checked{% endif %}></td>
                <td><input type="checkbox" id="{{ scout.id }}" class="style2" data-update="team_manager"{% if scout.userprofile.team_manager %} checked{% endif %}></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">

        $("input[type=checkbox]").bootstrapSwitch({
            onText: "YES",
            offText: "NO",
            size: "medium"
        })

        $("input[type=checkbox]").on('switchChange.bootstrapSwitch', function() {
            var scout_id = this.id;
            var action = $(this).data('update');

            var sender = $(this);

            $.ajax({
                type: "POST",
                url: "{% url 'frc_scout:update_scouts' %}",
                data: {
                    'csrfmiddlewaretoken': $.cookie('csrftoken'),
                    'scout_id': scout_id,
                    'action': action
                },
                success: function(response) {
                },
                error: function(response) {
                    console.log("error:" + response.statusCode());
                }
            })
        })

    $(".editable").editable({
        mode: 'inline',
        url: "{% url 'frc_scout:update_scouts' %}",
        params: {
            'csrfmiddlewaretoken': $.cookie('csrftoken'),
        }
    });
    </script>
{% endblock %}

{% block footer %}{% include 'frc_scout/footer.html' %}{% endblock %}