.btn-super {
    /*height: 70px;*/
    font-size: 18px;
    margin: 5px;
}

.section-header-container {
    height: 1px;
    background-color: grey;
    text-align: left;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 2em;
    margin-bottom: 20px;
}
    
}
.section-header-text {
    background-color: white;
    position: relative;
    top: -0.9em;
    padding-right: 10px;
}

.btn-grid {
    height: 40vh !important;
    font-size: 32px ;
    /*posterity:  if you are editting this code again, just know that i spent many hours crying over my laptop because of ben's inline styling. 
    Don't make his mistakes. if you do... $(.you).hide*/
}

@media (min-width: 768px) {
    .btn-extra-high {
        height: 70px;
        margin-top: 2px;
        margin-bottom: 2px;

    }

    .button-state-text {
        margin-top: 10px;
        font-size: 50px;
    }
}

@media (max-width: 768px) {
    .btn-extra-high {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #upload_data, #save_data {
        height: 90px;
    }
}

@media (max-width: 750px) {fau
    .btn-grid {
        height: 18vh !important;
        font-size: 20px;
    }
}


.input-x-lg {
    height: 72px;
    font-size: 32px !important;
}

.btn-group-tall-6 {
    height: 105px;
    width: 16.6%;
}

.btn-group-tall-6 > span {
    font-size: 55px;
    padding-top: 0px;
}

.btn-lg-text {
    font-size: 18px;
}

.max-width {
    width: 100%;
}



.auto-location-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;

    height: 70vh;
    max-width: 100%;

    background-color: cyan;
}

.input-location-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;

    height: 70vh;
    max-width: 100%;
}

.three-column {
    margin-left: -10px;
}

.background-white {
    background-color: white;
    padding: 10px !important;
    border-radius: 2px !important;
}

.btn-success-darker-1 {
    background-image: radial-gradient(circle, #2c8c26 80%, #439a46 81%);
}

.btn-success-darker-2 {
    background-image: radial-gradient(circle, #187C1C 80%, #439a46 81%);
}

.panel-event > .panel-heading, .btn-event {
    background-color: rgb(158, 172, 53);
    color: white;
}

body {
    padding-bottom: 20px;
    background-color: #f2f2f2;
    font-family: 'Exo 2', sans-serif;
}
@media (max-width: 640px) {
    .btn-fill {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

}