.btn-super {
    /*height: 70px;*/
    font-size: 18px;
    margin: 10px 10px 10px 10px;
}

.section-header-container {
    height: 1px;
    background-color: grey;
    text-align: left;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 2em;
    margin-bottom: 12px;
}

.section-header-text {
    background-color: white;
    position: relative;
    top: -0.9em;
    padding-right: 10px;
}

.btn-grid {
    height: 45vh !important;
    font-size: 32px ;
}

@media (min-width: 768px) {
    .btn-extra-high {
        height: 75px;
        margin-top: 2px;
        margin-bottom: 2px;

    }

    .button-state-text {
        margin-top: 10px;
        font-size: 50px;
    }
}

@media (max-width: 768px) {
    .btn-extra-high {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #upload_data {
        height: 90px;
    }
}

@media (max-width: 970px) {
    .btn-grid {
        height: 22vh !important;
        font-size: 20px;
    }
}


.input-x-lg {
    height: 72px;
    font-size: 32px !important;
}

.btn-group-tall-6 {
    height: 120px;
    width: 16.7%;
}

.btn-group-tall-6 > span {
    font-size: 60px;
    padding-top: 10px;
}

.btn-lg-text {
    font-size: 18px;
}

.max-width {
    width: 100%;
}

body {
    padding-bottom: 20px;
}

.auto-location-image {
    margin-left: auto;
    margin-right: auto;
    display: block;

    height: 75vh;
    max-width: 100%;
}

.three-column {
    margin-left: -10px;
}

.background-white {
    background-color: white;
    padding: 10px !important;
    border-radius: 2px !important;
}