.btn-super {
    /*height: 70px;*/
    font-size: 18px;
    margin: 10px 10px 10px 10px;
}

.section-header-container {
    height: 1px;
    background-color: grey;
    text-align: left;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 2em;
    margin-bottom: 12px;
}

.section-header-text {
    background-color: white;
    position: relative;
    top: -0.9em;
    padding-right: 10px;
}

@media (min-width: 768px) {
    .btn-extra-high {
        height: 90px;
        margin-top: 5px;
        margin-bottom: 5px;

    }

    .button-state-text {
        margin-top: 18px;
        font-size: 64px;
    }
}


.input-x-lg {
    height: 72px;
    font-size: 32px !important;
}

.btn-lg-text {
    font-size: 18px;
}

.max-width {
    width: 100%;
}

