{% extends 'frc_scout/base.html' %}

{% block title %}Update Password{% endblock %}

{% block nav %}{% include 'frc_scout/nav.html' %}{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form role="form" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="password" name="old_password" class="form-control" placeholder="Current Password">
                    <input type="password" name="new_password" class="form-control" placeholder="New Password">
                    <input type="password" name="new_password_repeat" class="form-control" placeholder="Retype New Password">
                </div>
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-success form-control">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_js %}

{% endblock %}

{% block footer %}{% include 'frc_scout/footer.html' %}{% endblock %}