{% extends 'frc_scout/base.html' %}

{% block title %}Update Password{% endblock %}

{% block nav %}{% include 'frc_scout/nav.html' %}{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form role="form" method="post" id="pw_form">
                {% csrf_token %}
                <div class="form-group">
                    <input type="password" name="old_password" class="form-control" placeholder="Current Password" required>
                </div>
                <div class="form-group">
                    <input type="password" name="new_password" class="form-control" placeholder="New Password" required>
                    <input type="password" name="new_password_repeat" class="form-control" placeholder="Retype New Password" required>
                </div>
                <div class="alert alert-success" style="display: none;" id="match">
                    <span class="glyphicon glyphicon-check"></span> Your passwords match.
                </div>
                <div class="alert alert-warning" style="display: none;" id="no_match">
                    <span class="glyphicon glyphicon-exclamation-sign"></span> Your passwords don't match.
                </div>
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-success form-control">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
    $("input[name=new_password_repeat]").keyup(function() {
        var pw = $('input[name=new_password]').val();
        var pw_repeat = $('input[name=new_password_repeat]').val();

        if(pw === pw_repeat) {
            $("#no_match").hide();
            $("#match").show();
        } else {
            $("#match").hide();
            $("#no_match").show();
        }
    });

    $("#pw_form").submit(function() {
        var pw = $('input[name=new_password]').val();
        var pw_repeat = $('input[name=new_password_repeat]').val();

        if(pw !== pw_repeat) {
            $("#no_match").show();
            $("#no_match")
                    .animate({fontSize: "20px"}, 500)
                    .animate({fontSize: "13px"}, 500);
            return false;
        }
    })
    </script>
{% endblock %}

{% block footer %}{% include 'frc_scout/footer.html' %}{% endblock %}